@model IEnumerable<Employee>

@Html.Partial("_PagedListPager", Model)

@foreach (var item in Model)
{
    @Html.Partial("_Profile", item)
    
    <br />
    <div class="btn-group col-sm-offset-1">
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
    </div>
    <br /><br /><br />
}
