@model Employee

<div class="row">
    <div class="col-sm-4">
        <center>
            <img src="@Url.Content("~/Images/profile-picure.min.jpg")" alt="Profile picture" class="img-circle img-responsive">
        </center>
    </div>
    <div class="col-sm-8">
        <h2>
            @Html.DisplayFor(m => Model.Email)
            <small>Employee</small>
        </h2>
        <p>
            @Html.DisplayFor(m => Model.Email)
            @if (Model.EmailConfirmed)
            {
                <span class="label label-info">Email confirmed</span>
            }
            else
            {
                <span class="label label-default">Email not confirmed</span>
            }
        </p>
        <p>
            @Html.DisplayFor(m => Model.SSN)
        </p>
        @if (!String.IsNullOrEmpty(Model.PhoneNumber))
        {
            <p>
                @Html.DisplayFor(m => Model.PhoneNumber)
                @if (Model.PhoneNumberConfirmed)
                {
                    <span class="label label-info">Phone number confirmed</span>
                }
                else
                {
                    <span class="label label-default">Phone number not confirmed</span>
                }
            </p>
        }
    </div>
</div>
