@model Player

<div class="row">
    <div class="col-sm-2">
        <img src="@Url.Content("~/Images/player-profile-picture.min.jpg")" alt="Profile picture" class="img-rounded img-responsive">
    </div>
    <div class="col-sm-10">
        <h2>
            <a href="@Url.Action("Details", new { id = Model.Id })">
                @Html.DisplayFor(m => Model.Email)
            </a>
            <small>Player</small>
        </h2>
        <p>
            @Html.DisplayFor(m => Model.Email)
            @if (Model.EmailConfirmed)
            {
                <span class="label label-info">Email confirmed</span>
            }
            else
            {
                <span class="label label-default">Email not confirmed</span>
            }
        </p>
        @if (Model.DateBirth != null)
        {
            <p>
                @Html.DisplayNameFor(m => Model.DateBirth):
                @(((DateTime)Model.DateBirth).ToLongDateString())
            </p>
        }
        @if (!String.IsNullOrEmpty(Model.PhoneNumber))
        {
            <p>
                @Html.DisplayFor(m => Model.PhoneNumber)
                @if (Model.PhoneNumberConfirmed)
                {
                    <span class="label label-info">Phone number confirmed</span>
                }
                else
                {
                    <span class="label label-default">Phone number not confirmed</span>
                }
            </p>
        }
    </div>
</div>
