@using Gamedalf.Infrastructure

@model Game

@Html.Partial("_Item", Model)

@{
    var artImages = GameImagesHandler.ArtImagesOf(Model.Id);
}

@if (artImages.Any())
{
    <h2>Artwork</h2>
    <div class="row">
        @foreach (var image in artImages)
        {
            <div class="col-md-6 game-artwork">
                <img src="@Url.Content(image)" alt="Artwork image" class="img-rounded img-responsive">
            </div>
        }
    </div>
}

@if (Model.Playings.Any())
{
    <h2>Reviews</h2>

    foreach (var evaluation in Model.Playings.Where(p => p.IsEvaluated))
    {
        <div class="row">
            <div class="col-sm-2">
                <img src="@Url.Content("~/Images/player-profile-picture.min.jpg")" alt="Profile picture" class="img-rounded img-responsive">
            </div>
            <div class="col-sm-10">
                <h2>
                    <a href="@Url.Action("Details", "Players", new { id = evaluation.PlayerId })">@evaluation.Player.Email</a>
                    <small>
                        @evaluation.ReviewDateCreated
                    </small>
                </h2>
                <p>
                    <span class="label label-default">Score: @evaluation.Score / 5</span>
                </p>
                <p>
                    <strong>Me:</strong> "@evaluation.Review"
                </p>
            </div>
        </div>

    }
}
