@using Microsoft.AspNet.Identity
@model Game

@{
    var id        = User.Identity.GetUserId();
    var doIPlayIt = Model.Playings.Any(p => p.PlayerId == id);
    var average   = Model.Playings.Average(p => p.Score);
}

<div class="row">
    <div class="col-sm-2">
        <img src="@Url.Content("~/Images/game-picture.min.jpg")" alt="Game picture" class="img-rounded img-responsive">
    </div>
    <div class="col-sm-10">
        <h2>
            <a href="@Url.Action("Details", new { Id = Model.Id })">
                @Html.DisplayFor(m => Model.Title)
            </a>
            <small>Game</small>
        </h2>
        <p>
            @if (doIPlayIt)
            {
                <span class="label label-info">@Model.Playings.First(p => p.PlayerId == id).TimePlayed h</span>
            }
            <span class="label label-default">@Model.Playings.Count are playing this.</span>
        </p>
        @if (average != null)
        {
            <p>
                <span class="label label-default">Average: @average / 5</span>
            </p>
        }
        <p>
            @if (User.IsInRole("employee") || Model.DeveloperId == User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })@:&nbsp;@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
            }
            
            @if (doIPlayIt)
            {
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-send"></span>
                    Play
                </a>
            }
            else
            { 
                <a href="@Url.Action("Create", "Playing")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    Download
                </a>
            }
        </p>
    </div>
</div>
