@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@using Gamedalf.Infrastructure.Games

@model Game

@{
    var id        = User.Identity.GetUserId();
    var doIPlayIt = Model.Playings.FirstOrDefault(p => p.PlayerId == id);
    var average   = (int?)Model.Playings.Average(p => p.Score);
}

<div class="row">
    <div class="col-sm-2">
        <img src="@Url.Content(GameImagesHandler.CoverOf(Model.Id))" alt="Game picture" class="img-rounded img-responsive">
    </div>
    <div class="col-sm-10">
        <h2>
            <a href="@Url.Action("Details", new { Model.Id })">
                @Html.DisplayFor(m => Model.Title)
            </a>
            <small>Game</small>
        </h2>
        <p>
            @if (doIPlayIt != null)
            {
                <span class="label label-info">@Model.Playings.First(p => p.PlayerId == id).TimePlayed h</span>
            }
            <span class="label label-default">@Model.Playings.Count are playing this.</span>
        </p>

        @if (average != null)
        {
            <p>
                @Html.Partial("_GameScore", new GameScoreViewModel
                {
                    Title       = "Average score",
                    Description = "is the average score given by players.",
                    Score       = (int)average
                })
            </p>
        }

        @if (!User.Identity.IsAuthenticated)
        {
            <p>
                <a href="@Url.Action("Login", "Account")">Sign in</a> to play this game!
            </p>
        }
        else
        {
            using (Html.BeginForm("Create", "Playing"))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.Id)

                <p>
                    @if (User.IsInRole("employee") || Model.DeveloperId == User.Identity.GetUserId())
                    {
                        @Html.Partial("_EditDelete", Model.Id.ToString())
                    }

                    @if (doIPlayIt != null)
                    {
                        <a href="@Url.Action("Details", "Playing", new { id = doIPlayIt.Id })" class="btn btn-primary">
                            <span class="glyphicon glyphicon-send"></span>
                            Play
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-submitter" tabindex="0">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            Download
                        </a>
                    }
                </p>
            }
        }
    </div>
</div>
