@using Gamedalf.Infrastructure.Games
@model GameImagesViewModel

@{
    ViewBag.Title = "Upload images for " + Model.Title;
    var artImages = GameImagesHandler.ArtImagesOf(Model.Id);
}

@section Scripts {
    @Scripts.Render("~/Scripts/app/elements/BtnFileDialog.js")
}

<h2>
    Upload some images for @Model.Title
</h2>

@using (Html.BeginForm("Images", "Games", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <h3>
        @Html.DisplayNameFor(m => m.Cover)
    </h3>
    <img src="@Url.Content(GameImagesHandler.CoverOf(Model.Id))" alt="Game picture" class="img-rounded img-responsive">
    <br />
    <div class="btn-file-dialog">
        <a href="#" class="btn btn-default">
            <span class="glyphicon glyphicon-upload"></span>
            Upload new cover picture
        </a>
        <input type="file" name="Cover" id="cover" />
    </div>

    @Html.ValidationMessageFor(m => m.Cover, "", new { @class = "text-danger" })

    <h3>
        @Html.DisplayNameFor(m => m.Images)
    </h3>
    <div class="row">
        @foreach (var artImage in artImages)
        {
            <div class="col-sm-3">
                <img src="@Url.Content(artImage)" alt="Game picture" class="img-rounded img-responsive">
            </div>
        }
    </div><br />

    <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-danger" title="Override all artwork. If not set, uploaded images are added to old ones.">
                @Html.CheckBoxFor(m => m.Override)
                <span class="glyphicon glyphicon-fire"></span>
                Override
                @Html.ValidationMessageFor(m => m.Override, "", new { @class = "text-danger" })
            </label>
        </div>
        <span class="btn-file-dialog">
            <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-upload"></span>
                Upload more artwork
            </a>
            <input type="file" name="Images" id="images" multiple="multiple" />
        </span>
        @Html.ValidationMessageFor(m => m.Images, "", new { @class = "text-danger" })
    </div>

    @Html.Partial("_Confirm", "Upload images")
}
