@model VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
}

<h2>
    Enter the verification code
</h2>

@using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("phoneNumber", Model.PhoneNumber)

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
    </div>

    @Html.Partial("_Confirm", "Verify")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
