@model Developer

@Html.Partial("_Profile", Model)

<h2>
    <a href="@Url.Action("DevelopedByMe", "Games")">
        Author 
    </a>
</h2>
<div class="row">
    <div class="col-md-12">
        @for (var i = 0; i < 5; i++)
        {
            <div class="col-md-2">
                <h4>Game</h4>
                <p>
                    ... .. .....
                </p>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>
            <a href="@Url.Action("Index", "Playing")" title="See all games, in deep deep details.">My games</a>
        </h2>
        
        @if (Model.Playing.Count == 0)
        {
            <span>
                What!? No games!? Laaaaaaame.
                Seriously though, just <a href="@Url.Action("Index", "Games")">play some games</a>.
            </span>
        }

        @foreach (var playing in Model.Playing)
        {
            <h4>
                <a href="@Url.Action("Details", "Games", new { Id = @playing.GameId})">
                    @playing.Game.Title
                </a>
            </h4>
            <div>
                
                <span class="label label-default" title="Started playing on @playing.DateCreated.ToLongDateString()">
                    @playing.DateCreated.ToLongDateString()
                </span> &nbsp;
                <span class="label label-info" title="@playing.TimePlayed hours played">
                    <span>@playing.TimePlayed</span> h
                </span>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>Reviews</h2>

        <h3>
            Mass effect
            <br />
            <small>@DateTime.Now</small>
        </h3>
        <p>
            <span class="label label-default">1</span>
            <span class="label label-default">2</span>
            <span class="label label-default">3</span>
            <span class="label label-default">4</span>
            <span class="label label-info">Awesome!</span>
        </p>
        <p>
            This game is awesome! bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla and bla.
        </p>
        <h3>
            A terrible random game called game
            <br />
            <small>@DateTime.Now</small>
        </h3>
        <p>
            <span class="label label-danger">Terrible</span>
            <span class="label label-default">2</span>
            <span class="label label-default">3</span>
            <span class="label label-default">4</span>
            <span class="label label-default">5</span>
        </p>
        <p>
            Oh god, this game sucks so bad. What were the developers thinking?
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla and bla.
        </p>
    </div>
</div>
