@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
}

<div class="row">
    <div class="col-md-8">
        <h1>
            @ViewBag.Title
            <small>
                @ViewBag.Lead
            </small>
        </h1>
    </div>
    <div class="col-md-4">
        <br />
        <ul class="nav nav-pills pull-right">
            @if (Request.IsAuthenticated)
            {
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                       title="Profile">
                        @User.Identity.GetUserName()<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            @{
                var controller = "Players";
                if (User.IsInRole("employee"))
                {
                    controller = "Employes";
                }
                else if (User.IsInRole("Developers"))
                {
                    controller = "Developers";
                }
                            }
                            <a role="menuitem" tabindex="-1" href="@Url.Action("Details", controller, new { Id = User.Identity.GetUserId() })">
                                @User.Identity.GetUserName()
                            </a>
                            <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Manage")">Manage profile</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("ManageLogins", "Manage")">
                                Manage external accounts
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangePassword", "Manage")">
                                Change password
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </li>
                <li>
                </li>

            }
            else
            {
                <li><a href="/">Home</a></li>
                <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </div>
</div>
<br /><br />
