@using Gamedalf.Infrastructure.Games

@model Playing

<div class="row">
    <div class="col-sm-2">
        <img src="@Url.Content(GameImagesHandler.CoverOf(Model.GameId))" alt="Game picture" class="img-rounded img-responsive">
    </div>
    <div class="col-sm-10">
        <h2>
            <a href="@Url.Action("Details", "Games", new { Id = Model.GameId })">
                @Html.DisplayFor(m => m.Game.Title)
            </a>
        </h2>
        <p>
            <span class="label label-info">
                @Html.DisplayFor(m => m.TimePlayed) h
            </span>&nbsp;<span class="label label-default">
                @Model.Game.Playings.Count players
            </span>
        </p>
        @if (Model.IsEvaluated)
        {
            <p>
                <span class="label label-default">My score: @Model.Score / 5</span>

                @{ var average = Model.Game.Playings.Average(p => p.Score); }
                <span class="label label-default">Average: @Math.Round((double)average, 1) / 5</span>
            </p>
            <samp id="terms-content" style="white-space: pre-line">
                @if (Model.Review.Length <= 20)
                {
                    @Model.Review
                }
                else
                {
                    @Model.Review.Substring(0, 20)
                    @:[...]
                }
            </samp>
        }
        else
        {
            <a href="@Url.Action("Evaluate", new { Id = Model.Id })" class="btn btn-default">
                <span class="glyphicon glyphicon-comment"></span>
                Tell us about this game!
            </a>
        }
    </div>
</div>
