@using System.IdentityModel

@model AcceptTermsViewModel
@{
    ViewBag.Title = "Subscribe to Gamedalf!";
}

<div id="terms-container">
    <h1>Terms and Conditions</h1>
    <h2 id="terms-title">
        @Model.Terms.Title
    </h2>
    <p id="terms-dateCreated">
        @Model.Terms.DateCreated
    </p>
    <samp id="terms-content" style="white-space: pre-line">
        @Model.Terms.Content
    </samp>
</div>

@using (Html.BeginForm("Make", "Payments", FormMethod.Post, new { id = "terms-form" }))
{
    @Html.AntiForgeryToken()
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.AcceptTerms, new { @class = "btn btn-default" })
            @Html.DisplayNameFor(m => m.AcceptTerms)
        </label>
    </div>
    @Html.ValidationMessageFor(m => m.AcceptTerms, "", new { @class = "text-danger" })
    @Html.Partial("_Confirm", "Accept")
}
