@model HomeViewModel

@Html.Partial("_GamesList", @Model.Games)

<hr />

<div class="row">
    <div class="col-md-8">
        <h2>Care for some change?</h2>
        <p>
            Do you have a <strong>good</strong> game? Want to <strong>share it</strong> with the community or <strong>make some profit</strong> with it?
        </p>
        <p>
            @if (User.IsInRole("player"))
            {
                if (User.IsInRole("developer"))
                {
                    <a href="@Url.Action("Become", "Developers")" class="btn btn-primary">Start a successful game franchise!</a>
                }
                else
                {
                    <a href="@Url.Action("Become", "Developers")" class="btn btn-primary">Become a developer right now</a>
                }
            }
        </p>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/change.jpg")" alt="Game picture" class="img-rounded img-responsive">
    </div>
</div>
