@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-2">
        <center>
            <img src="@Url.Content("~/Images/profile-picure.min.jpg")" alt="Profile picture" class="img-circle img-responsive">
        </center>
    </div>
    <div class="col-sm-10 text-left">
        <br />
        <h1>
            Lucas David
            <br />
            <small>
                I'm awesome but I like cookies too.
            </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Games</h2>

        <h5>
            Magic 2015
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Mass Effect
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Magic 2015
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Mass Effect
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Magic 2015
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Mass Effect
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Magic 2015
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Mass Effect
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Magic 2015
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>
        <h5>
            Mass Effect
            <small>Last played at @DateTime.Now.DayOfWeek</small>
        </h5>

        <p>
            <a href="@Url.Action("MyGames", "PlayingController")">All games</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Reviews</h2>

        <h3>
            Mass effect
            <br />
            <small>@DateTime.Now</small>
        </h3>
        <p>
            <span class="label label-default">1</span>
            <span class="label label-default">2</span>
            <span class="label label-default">3</span>
            <span class="label label-default">4</span>
            <span class="label label-info">Awesome!</span>
        </p>
        <p>
            This game is awesome! bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla and bla.
        </p>
        <h3>
            A terrible random game called game
            <br />
            <small>@DateTime.Now</small>
        </h3>
        <p>
            <span class="label label-danger">Terrible</span>
            <span class="label label-default">2</span>
            <span class="label label-default">3</span>
            <span class="label label-default">4</span>
            <span class="label label-default">5</span>
        </p>
        <p>
            Oh god, this game sucks so bad. What were the developers thinking?
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla and bla.
        </p>
    </div>
</div>