@model HomeViewModel

@Html.Partial("_GamesList", @Model.Games)

<hr />
<div class="row">
    <div class="col-md-8">
        <h2>Care for some change?</h2>
        <p>
            Do you have a <strong>good</strong> game? Want to <strong>share it</strong> with the community or <strong>make some profit</strong> with it?
        </p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p>
                According with our infinitly smart database, we have no idea who you are! In order to registry your games, you must first
                sign up in the system.
            </p>
            <p>
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Sign in
                </a>
            </p>
        }
        else if (User.IsInRole("employee"))
        {
            <div class="alert alert-warning" role="alert">
                <p>
                    This section can only be used by regular users, such as <strong>Players</strong> and <strong>Developers</strong>.
                </p>
                <p>
                    <a href="#" class="btn btn-primary disabled">
                        <span class=" glyphicon glyphicon-ban-circle"></span>
                        ...
                    </a>
                </p>
            </div>


        }
        else if (User.IsInRole("developer"))
        {
            <p>
                <a href="@Url.Action("Create", "Games")" class="btn btn-primary">
                    <span class=" glyphicon glyphicon-tower"></span>
                    Start a successful game and dominate the world!
                </a>
            </p>
        }
        else if (User.IsInRole("player"))
        {
            <p>
                <a href="@Url.Action("Become", "Players")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-flag"></span>
                    Become a developer right now
                </a>
            </p>
        }
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/change.jpg")" alt="Game picture" class="img-rounded img-responsive">
    </div>
</div>
