@model Gamedalf.Core.Models.Subscription

@{
    ViewBag.Title = "Define new price for monthly subscription";
}

@section Scripts {
    @Scripts.Render("~/Scripts/app/elements/BtnSubmitter.js")
}

<h2>
    Define new price for monthly subscription,
    <small>
        being nice with the users.
    </small>
</h2>
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
    @Html.Partial("_Confirm", "Save")
}
